# Ignore all files and directories by default
*
.oh-my-zsh/
.oh-my-zsh/*

# Exclude specific configuration directories and files from being ignored
!/.gitignore
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/alacritty/
!.tmux.conf
